<icecast>
    <location>Brasil</location>
    <admin>seu@email.com</admin>
    <hostname>radiocasa13-api.duckdns.org</hostname>
    <authentication>
        <source-password>__ICECAST_SOURCE_PASSWORD__</source-password>
        <relay-password>__ICECAST_RELAY_PASSWORD__</relay-password>
        <admin-user>__ICECAST_ADMIN_USER__</admin-user>
        <admin-password>__ICECAST_ADMIN_PASSWORD__</admin-password>
    </authentication>
    <listen-socket>
        <port>8000</port>
    </listen-socket>
    <fileserve>1</fileserve>
    <paths>
        <logdir>/var/log/icecast</logdir>
        <webroot>/usr/share/icecast/web</webroot>
        <alias source="/" dest="/status.xsl"/>
    </paths>
    <mount>
        <mount-name>/stream</mount-name>
        <max-listeners>1000</max-listeners>
    </mount>
    <limits>
        <clients>100</clients>
        <sources>2</sources>
    </limits>
</icecast>